<div class="table-responsive">
    <h2>Date:{{single.sessionTime|date:fuledate}}</h2>

    <table class="table table-striped">
        <tr>
            <th>Workout step</th>
            <th>Planned</th>
            <th>Actual</th>
            <th>Progress</th>
        </tr>
        <tr ng-repeat="step in single.session">

            <td>{{step.name}}</td>
            <td>{{step.planned}}{{step.option}}</td>
            <td>{{step.actual}}{{step.option}}</td>
            <td>{{step.actual *100 /step.planned|number:0}}%</td>
        </tr>
    </table>
</div>
<div class="col-lg-offset-2 col-lg-8">
    <canvas id="bar" class="chart chart-bar"
            chart-data="single.data" chart-labels="single.labels" chart-series="single.series">
    </canvas>
</div>