<div class="table-responsive">
    <h2>Date:{{single.sessionTime|date:fuledate}}</h2>
    <table class="table table-striped">
        <tr>
            <th>Workout step</th>
            <th>Planned</th>
            <th>Actual</th>
            <th>Difference</th>
        </tr>
        <tr ng-repeat="stap in single.sessions">
            <td>{{stap.name}}{{stap.time}}</td>
            <td>{{stap.planned}}{{step.option}}</td>
            <td>{{stap.actual}}{{step.option}}</td>
            <td>{{stap.actual *100 /stap.planned|number:0}}%</td>
        </tr>
    </table>
</div>
<canvas id="bar" class="chart chart-bar"
        chart-data="single.data" chart-labels="single.labels" chart-series="single.series">
</canvas>